<div class="container shadow p-3">
  <h1 class="col-12 h2 mb-3 rounded text-center text-md-left">Registration</h1>
  <form class="container col-12" novalidate #form="ngForm" (ngSubmit)="onSubmit(form.value, form)">
    <div class="row">
      <!-- First Name -->
      <div class="form-group col-12 col-md-6">
        <label>First Name<span class="text-danger">*</span></label>
        <input ngModel required #firstName="ngModel" name="firstName" type="text" class="form-control"
          placeholder="John" [class.border-danger]="firstName.touched && firstName.errors" />
        <div class="text-danger" *ngIf="firstName.touched && firstName.errors">
          First Name is required.
        </div>
      </div>
      <!-- Last Name -->
      <div class="form-group col-12 col-md-6">
        <label>Last Name<span class="text-danger">*</span></label>
        <input ngModel required #lastName="ngModel" name="lastName" type="text" class="form-control" placeholder="Doe"
          [class.border-danger]="lastName.touched && lastName.errors" />
        <div class="text-danger" *ngIf="lastName.touched && lastName.errors">
          Last Name is required.
        </div>
      </div>
      <!-- Email Address -->
      <div class="form-group col-12 col-md-6">
        <label>Email Address<span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input ngModel required #email="ngModel" name="email" type="email" class="form-control"
            [class.border-danger]="email.touched && email.errors" placeholder="john.doe@mail.com"
            pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" />
        </div>
        <div class="text-danger" *ngIf="email.touched && email.errors">
          {{
          email.errors.required
          ? "Email Address is required"
          : "Invalid Email Format"
          }}
        </div>
      </div>
      <!-- Mobile Number -->
      <div class="form-group col-12 col-md-6">
        <label>Mobile Number<span class="text-danger">*</span></label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">+63</span>
          </div>
          <input ngModel required #mobile="ngModel" name="mobile" type="tel"
            [class.border-danger]="mobile.touched && mobile.errors" class="form-control" placeholder="xxx-xxx-xxxx"
            minlength="10" maxlength="10" pattern="\d+" />
        </div>
        <div class="text-danger" *ngIf="mobile.touched && mobile.errors">
          {{
          mobile.errors.required
          ? "Mobile Number is required"
          : "Invalid Mobile Number Format"
          }}
        </div>
      </div>
      <!-- Birthday -->
      <div class="form-group col-12">
        <label>Date of Birth<span class="text-danger">*</span></label>
        <input ngModel type="date" #birthday="ngModel"
          [class.border-danger]="birthday.touched && (birthday.errors || invalidDate)" name="birthday"
          class="form-control" (ngModelChange)="handleDateChange($event)" [max]="CURRENT_DATE" required>
        <div class="text-danger" *ngIf="birthday.touched && (birthday.errors || invalidDate)">
          {{
          invalidDate ? "Invalid Date of Birth" : "Date of Birth is required"
          }}
        </div>
      </div>
      <!-- Employment Status -->
      <div class="form-group col-12 col-md-6">
        <label>Employment Status<span class="text-danger">*</span></label>
        <select ngModel #employment="ngModel" name="employment" class="form-control" required
          [class.border-danger]="employment.touched && employment.errors">
          <option value="" disabled selected>Select Employment Status</option>
          <option *ngFor="let option of employmentOptions" [value]="option.value">
            {{ option.name }}
          </option>
        </select>
        <div class="text-danger" *ngIf="employment.touched && employment.errors">
          Employment Status is required.
        </div>
      </div>
      <!-- Gender -->
      <div class="form-group col-12 col-md-6">
        <label>Gender<span class="text-danger">*</span></label>
        <div class="w-100 d-flex justify-content-start align-items-center col-12 mb-3">
          <div class="form-check">
            <input ngModel required class="form-check-input" type="radio" name="gender" value="male" id="male-gender" />
            <label for="male-gender" class="form-check-label">Male</label>
          </div>
          <div class="form-check mx-3">
            <input ngModel class="form-check-input" type="radio" name="gender" value="female" id="female-gender" />
            <label for="female-gender" class="form-check-label">Female</label>
          </div>
          <div class="form-check">
            <input ngModel class="form-check-input" type="radio" name="gender" value="others" id="others-gender" />
            <label for="others-gender" class="form-check-label">Others</label>
          </div>
        </div>
      </div>
      <div class="d-flex w-100 flex-column-reverse flex-md-row h-100 justify-content-md-center">
        <button class="col-12 col-md btn btn-secondary mr-md-1" type="reset">
          Reset
        </button>
        <button class="col-12 col-md btn btn-primary mb-2 mb-md-0 ml-md-1" type="submit"
          [disabled]="form.invalid || invalidDate" data-toggle="modal" data-target="#formModal">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>